
<div class = "row jumbotron">
    <div class="col col-md-5 col-md-offset-1">
        <h1>Sport Connect</h1>
        <p>A bunch of random text. A bunch of random text. A bunch of random text. A bunch of random text. A bunch of random text. 
        A bunch of random text. A bunch of random text. A bunch of random text. A bunch of random text. A bunch of random text. 
        A bunch of random text. A bunch of random text. A bunch of random text. A bunch of random text. A bunch of random text. 
        A bunch of random text. A bunch of random text. A bunch of random text. A bunch of random text. A bunch of random text. </p> 
    </div>
    <div class="col col-md-5">
    </div>
</div>
