<div class = "row">
  <div class = "col-xs-10 col-xs-offset-1">
       <% flash.each do |name, msg| %>         <!-- name is type of message i.e. danger, success, etc. -->
     <div class = 'alert alert-<%="#{name}" %>'>     <!-- name is then referred here to specify the type of alert -->
       <a href = "#" class = "close" data-dismiss= "alert">&#215;</a>     <!-- &#215 is the X option to dismiss alert -->
       <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
       <% end %> <!-- end of do block -->
  </div>
</div>